<launch>
  <include file="$(find mojiwon)/launch/display.launch"/>

  <!-- 1) YDLIDAR (X4) : frame_id를 lidar_link -->
  <include file="$(find ydlidar_ros_driver)/launch/X4.launch"/>
  <param name="/ydlidar_lidar_publisher/frame_id" value="lidar_link"/>

  <!-- 2) base_link -> lidar_link 
       -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="-0.0010088 0.00025196 0.27194 3.14159 0 0 base_link lidar_link 100"/>

  <!-- 3) odom -> base_link TF  -->
  <include file="$(find ak70_odom)/launch/odom.launch"/>
</launch>

